@model NotesMarketPlace.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-image">
        <div class="container  h-100">
            <div class="row align-items-center h-100">
                <!--  Box for Forgot Password-->
                <div class="col-xs-12 col-sm-12 col-md-6 mx-auto">
                    <div class="h-100 justify-content-center d-flex" style="flex-direction: column;">
                        <div class="col-md-12 text-center my-3">
                            <img src="@Url.Content("~/Content/images/pre-login/top-logo.png")" class="img-responsive logo" alt="marketplace">
                        </div>
                        <div class="card mb-3">
                            <div class="card-body m-0">
                                <div class="container-fluid ">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <h1 class="heading text-center">Forgot Password?</h1>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="sub-heading text-center">Enter your email to reset your password</p>
                                            @if (ViewData["success"] != null)
                                            {
                                                <p class="text-success text-center mb-2">
                                                    <i class="fa fa-check-circle"></i>@ViewData["success"]</p>
                                             }
                                            @if (ViewData["error"] != null)
                                            {
                                                <p class="text-danger text-center mb-2"><i class="fa fa-times-circle-o"></i> @ViewData["error"]</p>
                                            }

                                        </div>
                                    </div>
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.EmailID) <sup class="text-danger">&nbsp;*</sup>
                                                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control focus", placeholder = "Enter your Email Address" })
                                                    @Html.ValidationMessageFor(m => m.EmailID)
                                                    @Html.ValidationMessage("EmailNotExist")

                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-general btn-lg btn-block mt-0 mb-4">SUBMIT</button>
                                            </div>
                                        </div>
                                    }
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Box for Forgot Password End-->
            </div>
        </div>
    </div>







    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")

</body>
</html>
