<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation-->
    <div class="white-nav-top">
        <nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light white-nav-top">
            <div class="container">

                <a class="navbar-brand" href="@Url.Action("Dashboard","Admin")"><img src='@Url.Content("~/Content/images/User-Profile/logo.png")' class="img-responsive nav-logo" alt="notesmarketplace"></a>
                <button class="navbar-toggler" id="openmenu" type="button">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Mobile Menu -->
                <div id="mobile-nav">
                    <a href="@Url.Action("Dashboard","Admin")"><img src='@Url.Content("~/Content/images/User-Profile/logo.png")' class="img-responsive nav-logo mt-3" alt="notesmarketplace"></a>
                    <!-- Mobile Menu Close Button -->
                    <span id="mobile-nav-close-btn">&times;</span>

                    <div id="mobile-nav-content">
                        <ul class="navbar-nav  ml-auto">

                            <li class="nav-item">
                                <a class="nav-link  mt-3" href="@Url.Action("Dashboard","Admin")"><b class="white-nav @(ViewContext.RouteData.Values["Action"].ToString()=="Dashboard"?"nav-active":"")">Dashboard</b></a>

                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link mt-3" href="@Url.Action("","")" id="notesdropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b class="white-nav">Notes</b></a>
                                    <div class="dropdown-menu custom-mobile-dropdown" aria-labelledby="notesdropdownMenu">
                                        <a class="dropdown-item" href="@Url.Action("","")">Notes Under Review</a>
                                        <a class="dropdown-item" href="@Url.Action("","")">Published Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("","")">Downloaded Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("","")">Rejected Notes</a>

                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mt-3" href="@Url.Action("","")"><b class="white-nav">Members</b></a>
                            </li>
                            <li class="nav-item">



                                <div class="dropdown">

                                    <a class="nav-link mt-3" href="@Url.Action("","")" id="reportsdropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b class="white-nav">Reports</b></a>
                                    <div class="dropdown-menu custom-mobile-dropdown" aria-labelledby="reportsdropdownMenu">
                                        <a class="dropdown-item" href="@Url.Action("","")" Spam Reports</a>


                                    </div>
                                </div>


                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3" href="@Url.Action("","")"><b class="white-nav">Settings</b></a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a href="@Url.Action("","")" class="nav-link mt-3" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src='@Url.Content("~/Content/images/Dashboard/user-img.png")' alt="User Photo" class="rounded-circle avatar-sm img-responsive" style="margin-right: 10px;">
                                    </a>

                                    <div class="dropdown-menu custom-mobile-dropdown" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="@Url.Action("","")">Update Profile</a>
                                        <a class="dropdown-item" href="@Url.Action("","")">Change Password</a>
                                        <a class="dropdown-item drop-logout" href="@Url.Action("Logout","Account")">Logout</a>

                                    </div>
                                </div>

                            </li>
                            @if (Request.IsAuthenticated)
                            {

                                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <li class="nav-item">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <button type="submit" class="btn btn-general btn-sm mt-3">Logout</button>

                                        </a>

                                    </li>
}
                            }

                        </ul>

                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav  ml-auto">

                        <li class="nav-item">
                            <a class="nav-link  mt-2" href="@Url.Action("Dashboard","Admin")"><b class="white-nav @(ViewContext.RouteData.Values["Action"].ToString()=="Dashboard"?"nav-active":"")">Dashboard</b></a>

                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link mt-2" href="@Url.Action("","")" id="notesdropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b class="white-nav">Notes</b></a>
                                <div class="dropdown-menu custom-other-dropdown" aria-labelledby="notesdropdownMenu">
                                    <a class="dropdown-item" href="@Url.Action("","")">Notes Under Review</a>
                                    <a class="dropdown-item" href="@Url.Action("","")">Published Notes</a>
                                    <a class="dropdown-item" href="@Url.Action("","")">Downloaded Notes</a>
                                    <a class="dropdown-item" href="@Url.Action("","")">Rejected Notes</a>

                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link mt-2" href="@Url.Action("","")"><b class="white-nav">Members</b></a>
                        </li>
                        <li class="nav-item">



                            <div class="dropdown">

                                <a class="nav-link mt-2" href="@Url.Action("","")" id="reportsdropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b class="white-nav">Reports</b></a>
                                <div class="dropdown-menu custom-other-dropdown" aria-labelledby="reportsdropdownMenu">
                                    <a class="dropdown-item" href="@Url.Action("","")">Spam Reports</a>


                                </div>
                            </div>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="@Url.Action("","")"><b class="white-nav">Settings</b></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="@Url.Action("","")" class="nav-link " id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src='@Url.Content("~/Content/images/Dashboard/user-img.png")' alt="User Photo" class="rounded-circle avatar-sm img-responsive" style="margin-right: 10px;">
                                </a>

                                <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="@Url.Action("","")">Update Profile</a>
                                    <a class="dropdown-item" href="@Url.Action("","")">Change Password</a>
                                    <a class="dropdown-item drop-logout" href="@Url.Action("Logout","Account")">Logout</a>

                                </div>
                            </div>

                        </li>
                        @if (Request.IsAuthenticated)
                        {

                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <li class="nav-item">
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <button type="submit" class="btn btn-general btn-sm mt-0">Logout</button>

                                    </a>

                                </li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>


    </div>
    <!-- Navigation End-->

    @RenderBody()
    <!-- Footer -->
    <footer class="footer">
        <hr>
        <div class="container">

            <div class="row text-center">
                <div class="col-md-6 text-lg-left">
                    <p class="footer-text mb-4 mt-2">Version:1.1.24</p>

                </div>
                <div class="col-md-6 text-lg-right">
                    <p class="footer-text mb-4 mt-2">Copyright &copy; TatvaSoft All right reserved.</p>

                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>